<div class=" container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="main-panel w-100  documentation">
        <div class="content-wrapper">
          <div class="container-fluid">
            <div class="row">
              <div class="col-12 pt-5">
                <a class="btn btn-primary" href="/login"><i class="ti-home me-2"></i>Regreso al Login</a>
              </div>
            </div>
            <div class="row pt-5 mt-5">
              <div class="col-12 pt-5 text-center">
                <i class="text-primary mdi mdi-file-document-box-multiple-outline display-1"></i>
                <h3 class="text-primary fw-light mt-5">
                  Error en el enlace, regrese a la página de Login - <b>3DDIGITALVENUE</b>.  
                </h3>
              </div>
            </div>
          </div>
        </div>
        <!-- partial:../../partials/_footer.html -->
        <footer class="footer">
      <div class="d-sm-flex justify-content-center justify-content-sm-between">
        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Página <a href="https://3ddigitalvenue.com/" target="_blank">3ddigitalvenue</a>.</span>
        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Copyright © 2023. All rights reserved.</span>
      </div>
    </footer>
        <!-- partial -->
      </div>
    </div>
  </div>