
<div class="row">
    <div class="col-lg-8 d-flex flex-column">
        <div class="row flex-grow">
        <div class="col-12 grid-margin stretch-card">
            <div class="card card-rounded">
            <div class="card-body">
                <div class="d-sm-flex justify-content-between align-items-start">
                <div>
                    <h4 class="card-title card-title-dash">Listado de transacciones</h4>
                    <p class="card-description">
                        <code style="color: blue;">3D<span class="font-weight-medium">D</span>V - </code>
                        <i class="icon-zoom-in" style="color: blue;"></i>
                    </p>    
                </div>
                <div>
                    <button class="btn btn-primary btn-lg text-white mb-0 me-0" type="button"><i class="mdi mdi-shape-circle-plus"></i>Agregar una transacción</button>
                </div>
                </div>
                <div class="table-responsive  mt-1">
                <table class="table select-table">
                    <thead>
                    <tr>
                        <th>
                        <div class="form-check form-check-flat mt-0">
                            <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" aria-checked="false"><i class="input-helper"></i></label>
                        </div>
                        </th>
                        <th>Customer</th>
                        <th>Company</th>
                        <th>Progress</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                        <div class="form-check form-check-flat mt-0">
                            <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" aria-checked="false"><i class="input-helper"></i></label>
                        </div>
                        </td>
                        <td>
                        <div class="d-flex ">
                            <img src="images/faces/face1.jpg" alt="">
                            <div>
                            <h6>Brandon Washington</h6>
                            <p>Head admin</p>
                            </div>
                        </div>
                        </td>
                        <td>
                        <h6>Company name 1</h6>
                        <p>company type</p>
                        </td>
                        <td>
                        <div>
                            <div class="d-flex justify-content-between align-items-center mb-1 max-width-progress-wrap">
                            <p class="text-success">79%</p>
                            <p>85/162</p>
                            </div>
                            <div class="progress progress-md">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 85%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        </td>
                        <td><div class="badge badge-opacity-warning">In progress</div></td>
                    </tr>
                    <tr>
                        <td>
                        <div class="form-check form-check-flat mt-0">
                            <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" aria-checked="false"><i class="input-helper"></i></label>
                        </div>
                        </td>
                        <td>
                        <div class="d-flex">
                            <img src="images/faces/face2.jpg" alt="">
                            <div>
                            <h6>Laura Brooks</h6>
                            <p>Head admin</p>
                            </div>
                        </div>
                        </td>
                        <td>
                        <h6>Company name 1</h6>
                        <p>company type</p>
                        </td>
                        <td>
                        <div>
                            <div class="d-flex justify-content-between align-items-center mb-1 max-width-progress-wrap">
                            <p class="text-success">65%</p>
                            <p>85/162</p>
                            </div>
                            <div class="progress progress-md">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        </td>
                        <td><div class="badge badge-opacity-warning">In progress</div></td>
                    </tr>
                    <tr>
                        <td>
                        <div class="form-check form-check-flat mt-0">
                            <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" aria-checked="false"><i class="input-helper"></i></label>
                        </div>
                        </td>
                        <td>
                        <div class="d-flex">
                            <img src="images/faces/face3.jpg" alt="">
                            <div>
                            <h6>Wayne Murphy</h6>
                            <p>Head admin</p>
                            </div>
                        </div>
                        </td>
                        <td>
                        <h6>Company name 1</h6>
                        <p>company type</p>
                        </td>
                        <td>
                        <div>
                            <div class="d-flex justify-content-between align-items-center mb-1 max-width-progress-wrap">
                            <p class="text-success">65%</p>
                            <p>85/162</p>
                            </div>
                            <div class="progress progress-md">
                            <div class="progress-bar bg-warning" role="progressbar" style="width: 38%" aria-valuenow="38" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        </td>
                        <td><div class="badge badge-opacity-warning">In progress</div></td>
                    </tr>
                    <tr>
                        <td>
                        <div class="form-check form-check-flat mt-0">
                            <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" aria-checked="false"><i class="input-helper"></i></label>
                        </div>
                        </td>
                        <td>
                        <div class="d-flex">
                            <img src="images/faces/face4.jpg" alt="">
                            <div>
                            <h6>Matthew Bailey</h6>
                            <p>Head admin</p>
                            </div>
                        </div>
                        </td>
                        <td>
                        <h6>Company name 1</h6>
                        <p>company type</p>
                        </td>
                        <td>
                        <div>
                            <div class="d-flex justify-content-between align-items-center mb-1 max-width-progress-wrap">
                            <p class="text-success">65%</p>
                            <p>85/162</p>
                            </div>
                            <div class="progress progress-md">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        </td>
                        <td><div class="badge badge-opacity-danger">Pending</div></td>
                    </tr>
                    <tr>
                        <td>
                        <div class="form-check form-check-flat mt-0">
                            <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" aria-checked="false"><i class="input-helper"></i></label>
                        </div>
                        </td>
                        <td>
                        <div class="d-flex">
                            <img src="images/faces/face5.jpg" alt="">
                            <div>
                            <h6>Katherine Butler</h6>
                            <p>Head admin</p>
                            </div>
                        </div>
                        </td>
                        <td>
                        <h6>Company name 1</h6>
                        <p>company type</p>
                        </td>
                        <td>
                        <div>
                            <div class="d-flex justify-content-between align-items-center mb-1 max-width-progress-wrap">
                            <p class="text-success">65%</p>
                            <p>85/162</p>
                            </div>
                            <div class="progress progress-md">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        </td>
                        <td><div class="badge badge-opacity-success">Completed</div></td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>

    <div class="col-lg-4 d-flex flex-column">
        <div class="row flex-grow">
          <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Datos Personales</h4>
                  <p class="card-description">
                      <code style="color: blue;">3D<span class="font-weight-medium">D</span>V - </code>
                      <i class="icon-user" style="color: blue;"></i>
                  </p>    
                  <ul class="list-arrow">
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Consectetur adipiscing elit</li>
                    <li>Integer molestie lorem at massa</li>
                    <li>Facilisis in pretium nisl aliquet</li>
                    <li>Nulla volutpat aliquam velit></li>
                  </ul>
                </div>
            </div>
          </div>
        </div>

        <div class="row flex-grow">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">Suma de todas las transacciones</h4>
                      <p class="card-description">
                        <code style="color: blue;">3D<span class="font-weight-medium">D</span>V - </code>
                        <i class="icon-credit-card" style="color: blue;"></i>
                      </p>    
                      <ul class="list-arrow">
                        <li class="h4" style="margin-top: 3rem;">580.00 €</li>
                      </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<div class="container-fluid page-body-wrapper">
    <div class="main-panel">        
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Generación de una transacción</h4>
                  <p class="card-description">
                    Rellene el formulario y envie la información
                  </p>
                  <form class="forms-sample">
                    <div class="form-group">
                      <label for="exampleInputUsername1">Detalle</label>
                      <input type="text" class="form-control" id="exampleInputUsername1" placeholder="Detalle">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Cantidad</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Cantidad">
                    </div>
                    <!-- <div class="form-group">
                      <label for="exampleInputPassword1">Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div> -->
                    <!-- <div class="form-group">
                      <label for="exampleInputConfirmPassword1">Confirm Password</label>
                      <input type="password" class="form-control" id="exampleInputConfirmPassword1" placeholder="Password">
                    </div> -->

                    <!-- <div class="form-check form-check-flat form-check-primary">
                      <label class="form-check-label">
                        <input type="checkbox" class="form-check-input">
                        Remember me
                      </label>
                    </div> -->
                    <button type="submit" class="btn btn-primary me-2">Comprar</button>
                    <!-- <button class="btn btn-light">Cancel</button> -->
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>