
<div class="row">
    <div class="col-lg-8 d-flex flex-column">
        <div class="row flex-grow">
        <div class="col-12 grid-margin stretch-card">
            <div class="card card-rounded">
            <div class="card-body">
                <div class="d-sm-flex justify-content-between align-items-start">
                <div>
                    <h4 class="card-title card-title-dash">Listado de transacciones</h4>
                    <p class="card-description">
                        <code style="color: blue;">3D<span class="font-weight-medium">D</span>V - </code>
                        <i class="icon-zoom-in" style="color: blue;"></i>
                    </p>    
                </div>
                <div>
                    <button class="btn btn-primary btn-lg text-white mb-0 me-0" type="button" (click)="openDialog()"><i class="mdi mdi-shape-circle-plus"></i>Agregar una transacción</button>
                </div>
                </div>
                <div class="table-responsive  mt-1">
                <table class="table select-table">
                    <thead>
                    <tr>
                        <th>Transaction detail</th>
                        <th>Created</th>
                        <th>Amount(€)</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let valor of transacciones">
                            <td>
                                <div class="d-flex ">
                                    <div>
                                    <h6>{{valor.detail}}</h6>
                                    </div>
                                </div>
                            </td>
                            <td>
                                {{valor.created}}
                            </td>
                            <td>
                                {{valor.amount}} €
                            </td>
                        </tr>
                    </tbody>
                </table>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>

    <div class="col-lg-4 d-flex flex-column">
        <div class="row flex-grow">
          <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Datos Personales</h4>
                  <p class="card-description">
                      <code style="color: blue;">3D<span class="font-weight-medium">D</span>V - </code>
                      <i class="icon-user" style="color: blue;"></i>
                  </p>    
                  <ul class="list-arrow">
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Consectetur adipiscing elit</li>
                    <li>Integer molestie lorem at massa</li>
                    <li>Facilisis in pretium nisl aliquet</li>
                    <li>Nulla volutpat aliquam velit></li>
                  </ul>
                </div>
            </div>
          </div>
        </div>

        <div class="row flex-grow">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">Total de Transacciones</h4>
                      <p class="card-description">
                        <code style="color: blue;">3D<span class="font-weight-medium">D</span>V - </code>
                        <i class="icon-credit-card" style="color: blue;"></i>
                      </p>    
                      <ul class="list-arrow">
                        <li class="h4" style="margin-top: 3rem;">{{totalTransacciones}} €</li>
                      </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>