<footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-center">
      <!-- <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Premium <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from BootstrapDash.</span> -->
      <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Todos los derechos reservados <b>3ddigitalvenue</b> © email: <a href="mailto: support@3ddigitalvenue.com" target="_blank">support@3ddigitalvenue.com</a></span>
    </div>
</footer>