
<div class="modal-body pop-out container-fluid page-body-wrapper">
    <div class="main-panel">        
        <div>
          <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Generación de una transacción</h4>
                  <p class="card-description">
                    Rellene el formulario y envie la información
                  </p>
                  <form [formGroup]="transactionForm" class="forms-sample">
                    <div class="form-group">
                      <label for="exampleInputUsername1">Detalle</label>
                      <input type="text" class="form-control" id="exampleInputUsername1" placeholder="Detalle" formControlName="detail" >
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Cantidad</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Cantidad" formControlName="amount" >
                    </div>
                    <button type="submit" class="btn btn-primary me-2" (click)="postTransactionEnvio() " matDialogClose>Comprar</button>
                    <button class="btn btn-light" matDialogClose>Cancelar</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
